.carousel img {
    width: 100%;
    height: 500px;
}

.small-items {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: 20%;
    padding-top: 10px;
    margin: 0 auto;
}

.small-items>.item {
    border: solid thin black;
    text-wrap: wrap;

    max-width: 40%;
    min-width: 10%;
    padding: 10px;
    text-align: center;
    display: block;
}

.small-items .item>img {
    height: 80px;
    width: auto;
}


.big-items {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    padding-top: 10px;
    margin: 0 auto;
}

.big-items>.item {
    background-color: #2196F3;
    text-wrap: wrap;

    width: 24%;
    display: block;
    text-align: center;
}

.big-items .item img {
    max-width: 20%;
    height: 200px;
    min-width: 80%;
    border-radius: 20px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.big-items .item p,h3 {
    padding: 10px;
}

@media(max-width:1000px) {
    .small-items {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .small-items>.item {
        min-width: 40%;
    }

    .big-items {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .big-items .item {
        width: 80%;
    }

}