img {
    max-width: 100%;
    height: auto;
    display: block;
}

.top-row {
    display: block;
    background-color: #333333;
    height: 8%;
    text-align: center;
    white-space: normal;
    margin-bottom: 10px;
}

.top-box {
    display: inline-block;
    width: 5%;
    min-width: 60px;
    max-width: 200px;
    color: white;
    border-right: thin solid white;
    text-align: center;
    vertical-align: middle;
    padding: 8px 5px;
    box-sizing: border-box;
}

.top-container {
    display: block;
    text-align: center;
}

.banners-container {
    text-align: center;
    background-color: #fff;
    line-height: 0;
    box-sizing: border-box;
}

.banner-img {
    display: inline-block;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

.banner-img.left {
    width: 25%;
}

.banner-img.center {
    width: 45%;
}

.banner-img.right {
    width: 25%;
}

/* Основной контент */
.main-content {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.column {
    display: inline-block;
    padding: 10px;
    margin: 20px 10px 0 10px;
    vertical-align: top;
}

.left-column {
    width: 20%;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    min-height: 670px;
    box-sizing: border-box;
}

.center-column {
    width: 20%;
    padding: 0;
    box-sizing: border-box;
    height: 670px;
    vertical-align: top;
}

.top-img {
    width: 90%;
    height: 200px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 8px;
}

.title {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.text {
    font-size: 0.9em;
    margin-bottom: 15px;
    line-height: 1.4;
    text-align: justify;
    word-wrap: break-word;
}

.read-more {
    display: inline-block;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.9em;
}

.read-more.right {
    background-color: blue;
    color: white;
    text-decoration: underline;
    padding: 5px 10px;
    border-radius: 4px;
}

.read-more.center {
    text-decoration: underline;
}

.read-more.left {
    text-decoration: underline;
}

.left-bottom {
    text-align: left;
}

.right-bottom {
    text-align: right;
}

.block {
    padding: 10px;
    min-height: 46%;
    border-radius: 8px;
    margin-bottom: 10px;
    word-wrap: break-word;
    display: block;
}

.inline-img {
    width: 80%;
    height: 100px;
    margin: 10px auto;
    display: block;
    border-radius: 8px;
}

.top {
    background-color: #d0eaff;
}

.bottom {
    background-color: #BCAAA4;
}

.right-column {
    width: 40%;
    padding: 0;
    vertical-align: top;
    height: 670px;
    box-sizing: border-box;
}

.row {
    min-height: 22.5%;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 5px;
    overflow: hidden;
}

.row-part {
    display: inline-block;
    vertical-align: top;
}

.img-part {
    width: 20%;
}

.title-part {
    width: 25%;
}

.content-part {
    width: 50%;
}

.side-img {
    width: 85%;
    height: 90px;
    padding: 10px;
    border-radius: 20px;
}

.side-img.right-side {
    margin-left: 10px;
    margin-right: 0;
}

.title {
    text-align: center;
    margin: 0;
}

.text {
    margin: 0 0 10px 0;
}